body, html{
font: 12px tahoma;
margin: 0px;
padding: 0px;
background: rgb(22, 219, 151)
}

div{
text-align: center;
}

iframe{
  width: 78%;
  height: 401px;
  allowtransparency;
}

h2{
  font-size: 65px;
}
h3{
  font-size: 30px;
}
p{
  font-size: 20px;
}
li.game{
  font-size: 20px;
}

.header{
background: #e25e5e;
height: 150px;
margin-bottom: 0px;
padding: 10px;
}

.menu{
float: left;
padding: 10px;
width: 20%;
height: 387px;
}

.container{
  padding: 10px;
}
/*history.html*/
.pic1{
  float: left;
  height: 300px;
  width: 350px;
}
.pic2{
  float: right;
  height: 350px;
  width: 300px;
  margin: 10px
}
/*game.html*/
.pic3{
  float: left;
  height: 300px;
  width: 350px;
  margin: 10px;
}
/*winter.html*/
.win1{
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: left;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
}
/*summer.html*/
.sum1{
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: left;
  margin: 10px;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
}
