.a{
  font-size: 250%;
  font-family: 'Times New Roman';
  color:#e082bf
}
.b{
  font-size: 100%;
  font-family: 'Verdana';
  color:#918aed
}
.c{
  font-size: 200%;
  font-family: 'Arial';
  color:#9a121a
}
.d{
  font-size: 150%;
  font-family: 'Halvetica';
  color:#8ce884
}
.e{
  font-size: 300%;
  font-family: 'Mistral';
  color:#c6f455
}
