body {
font-size: 50px;
margin-left: 100px;
margin-top: 200px;
}

.wer {
font-style: italic;
}

.line {
display: inline-block;
vertical-align: middle;
border-top: 2px solid;
border-left: 2px solid;
transform: skew(-15deg);
transform-origin: bottom left;
margin: 0 10px;
position: relative;
}

.line:before {
content: "";
position: absolute;
bottom: 0;
height: 40%;
width: 9px;
left: -11px;
border-top: 2px solid;
border-right: 2px solid;
transform: skew(30deg);
transform-origin: bottom right;
}

.number {
display: inline-block;
padding-left: 3px;
transform: skew(15deg);
}
